# IDEs and editors
/.idea
/.vscode
/.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dist
/dist/

/package.json
/package-lock.json


# dependencies
/node_modules/*
node_modules

# misc
/yarn.lock
/yarn-error.log


